<link rel="stylesheet" href="/css/navBarLoggedin.css">

<header>
    <nav>
        <ul class="menu">
            <li>
                <div class="logo-div">
                    <img src="/images/Logo.png" class="logoIcon" onclick="window.location.href='/'" style="cursor: pointer;">
                    <p class="logo">Travelo</p>
                    <img src="/review/Avatars/avatar7.png" class="profile">
                </div>
            </li>
        </ul>
    </nav>
    <div id="slidingPanel" class="panel">
        <!-- Content of the panel -->
        <img src="/review/Avatars/avatar7.png" class="profileIconPanel">

        <ul class="panellist">
            <li class="sidePanelChoice" id="sidePanelChoice">
                <a href="/user_input/create">Create a plan</a>
            </li>
            <li class="sidePanelChoice" id="sidePanelChoice">
                <a href="/user_input/history">View previous plans</a>
            </li>
            <li class="sidePanelChoice" id="sidePanelChoice">
                <a href="/profile">View profile</a>
            </li>
            <li class="sidePanelChoice" id="sidePanelChoice">
                <a href="/review/reviews">Add a review</a>
            </li>
            <li class="sidePanelChoice" id="sidePanelChoice">
                <a href="https://Suee18.github.io/egyTour.github.io/">Egypt virtual tour</a>
            </li>
            <li class="sidePanelChoice" id="sidePanelChoice">
                <a href="/logout">Log out</a>
            </li>
        </ul>
    </div>
</header>
<script src="/js/navBarLoggedin.js"></script>
