



<link rel="stylesheet" href="css/navabar.css">
<header>
    <nav>
        <div class="logo-div">
            <img src="/images/Logo.png" class="image-logo" onclick="window.location.href='/'" style="cursor: pointer;">
            <p  class="logo"  onclick="window.location.href='/'" style="cursor: pointer;">Travelo</p>
        </div>

        <ul>
            <li>
                <a href="/register">Log in-sign up</a>
            </li>

            <li>
                <a href="https://Suee18.github.io/egyTour.github.io/">About Egypt</a>
            </li>
        </ul>
    </nav>
</header>