<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navBarAdmin.css">
    <title>Document</title>
</head>
<body>
    <div class="navigation">
        <ul>
            <div class="logo-div">
                <img src="/images/Logo.png" class="image-logo" onclick="window.location.href='/'" style="cursor: pointer;">
                <p class="logo" onclick="window.location.href='/'" style="cursor: pointer;">Travelo</p>
            </div>
            <li >
                <a href="/adminHome" >
                    <span class="icon"><i class="fa-solid fa-users"></i></span>
                    <span class="title">Users</span>
                </a>
            </li>
            <li>
                <a href="/statistics">
                    <span class="icon"><i class="fa-solid fa-chart-simple"></i></span>
                    <span class="title">Statistics</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><i class="fa-solid fa-question"></i></span>
                    <span class="title">Pending Questions</span>
                </a>
            </li>
            <li>
                <a href="/logout">
                    <span class="icon"><i class="fa-solid fa-right-from-bracket"></i></span>
                    <span class="title">Log Out</span>
                </a>
            </li>
        </ul>
    </div>
    <script src="/js/navBarAdmin.js"></script>
</body>
</html>
