<!-- Error Modal

<div id="errorModal" class="modal" style="display:none;">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p id="errorMessage"></p>
    </div>
</div>

<link rel="stylesheet" href="/css/popUpError.css"> 
<script src="/js/popUpError.js"></script> -->
