/***********FONTS*********/
@font-face {
  font-family: 'paragraphRegularFont';
  src: url('/fonts/GrotleyRegular-mLEWv.otf') format('opentype');
       
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'paragraphsBoldFont';
  src: url('/fonts/GrotleyRegular-mLEWv.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'titlesFont';
  src: url('/fonts/EgyptianNights-yAOV.ttf') format('truetype');
       
  font-weight: normal;
  font-style: normal;
}
/********************/.maincontainerCHP{
  margin-top: 10%;
  
  background-color: gray;
  background-color: #ffffff36;
  box-shadow: 0 0 10px rgba(1, 4, 32, 0.808);
}
#password-form {
  background-color: #ffffff00;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#password-form .form-group label {
  font-weight: bold;
}

#password-form .form-control {
  border-radius: 0.25rem;
}

#password-form .btn {
 
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: 0.9rem 4rem;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    padding: 2em;
    background-color: #dab78b;
    color: #ffffff;
    /* white text */
    box-shadow: 0 4px #8c7a61;
  
  }
  
  .btn:active {
    transform: scale(0.95);
  }
  
  .btn:hover {
  
    background-color: #150e55;
    /* a lighter sandstone color for hover */
    box-shadow: 0 6px #96a0a3;
    /* deeper shadow on hover */
    transform: translateY(-2px);
    /* subtle lift effect */
  }
  
  .btn:focus {
    outline: none;
  }