* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: #033f76;
  }
  
  .rating {
    color: gold; /* Set star color */
  }
  
  .aboveAll {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #033f76;
    padding-top: 50px;
  }
  
  .box-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 60px;
  }
  
  .box {
    width: 500px; /* Adjust box width */
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
  }
  
  .profile-info {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Adjust to spread elements */
    margin-bottom: 10px;
  }
  
  .avatar {
    width: 50px; /* Adjust avatar size */
    height: 50px;
    border-radius: 50%; /* Rounded avatar */
    margin-right: 10px; /* Optional spacing */
  }
  .left-part{
    display: flex;
  }
  .username {
    font-weight: bold; 
    text-align: center;
    margin-top: 15px;
  }
  
  .rating {
    color: gold;
    margin-top: 5px;
  }
  
  .review-text {
    margin-top: 10px;
    display: grid;
  }
  
  .box:hover {
    transform: scale(1.07, 1.07);
    transition: all ease 0.3s;
  }
  .review-input {
    width: 100%; /* Ensure textarea takes full width of its container */
    box-sizing: border-box; /* Include padding and border in width calculation */
  }
  .add-review-btn{
    background-color: #b08e63;
    box-shadow: 0 6px #96a0a3;
    color: #ffffff;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: 0.5rem 2rem;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    padding: 1em;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 30%;
  }
  .add-review-btn:hover {
    background-color: #31269396;
    color: #ffffff;
    box-shadow: 0 4px #8c7a61;
  }
  
  .add-review-btn:active {
    transform: scale(0.95);
  }
  
  .add-review-btn:focus {
    outline: none;
  }
  .error-message {
    color: red;
    font-size: 0.7em;
    margin-top: 5px;
  }
  
  @media (max-width: 1060px) {
    .box {
      width: 45%;
      padding: 10px;
    }
  }
  
  @media (max-width: 790px) {
    .box {
      width: 100%;
    }
  }
  
  @media (max-width: 340px) {
    .box-top {
      flex-wrap: wrap;
      margin-bottom: 10px;
    }
    .review-text {
      margin-top: 10px;
    }
  }
  
  .btn {
    background-color: #cba676;
    box-shadow: 0 6px #96a0a3;
    color: #ffffff;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: 0.9rem 4rem;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    padding: 2em;
    margin-bottom: 10px;
  }
  
  .btn:hover {
    background-color: #997c57;
    color: #ffffff;
    box-shadow: 0 4px #b7c3c7;
  }
  
  .btn:active {
    transform: scale(0.95);
  }
  
  .btn:focus {
    outline: none;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px; /* Adjust this to your needs */
  }
  