<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/css/packages.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/packages.js"></script>
    <title>Document</title>
</head>
<body>
    <!--Header-->
    <header>
        <%- include('../components/navBarLoggedin') %>
    </header>
       <section class="section2">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                    <form action="" id="msform">
                        <ul id="progressbar">
                            <li class="active" id="package"><strong>Packages</strong></li>
                            <li id="details"><strong>Details</strong></li>
                            <li id="personal"><strong>Personal</strong></li>
                            <li id="payment"><strong>Payment</strong></li>
                            <li id="confirm"><strong>Finish</strong></li>
                        </ul>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div> 
                        </div>
                        <br>
                        <!--Step 1-->
                        <fieldset>
                            <div class="form-card">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="fs-title">Choose Your Package:</h2>
                                    </div>
                                    <div class="col-5">
                                        <h2 class="steps">Step 1</h2>
                                    </div>
                                    <div class="container">
                                        <div class="package" id="package1">
                                            <h2>Free Package</h2>
                                            <div class="features">
                                                
                                                <ul>
                                                    <li>No Food Recommendation</li>
                                                    <li>No hotel reservation</li>
                                                    <li>No ticket reservation</li>
                                                </ul>
                                            </div>
                                            <button type="button" onclick="selectPackage(1)" data-selected="false">Select</button>
                                        </div>
                                        <div class="package" id="package2">
                                            <h2>Standard Package</h2>
                                            <div class="features">
                                                
                                                <ul>
                                                    <li>Includes Food Recommendation</li>
                                                    <li>No hotel reservation</li>
                                                    <li>No transportation tickets</li>
                                                    
                                                </ul>
                                            </div>
                                            <button type="button" onclick="selectPackage(2)" data-selected="false">Select</button>
                                        </div>
                                        <div class="package" id="package3">
                                            <h2>Premium Package</h2>
                                            <div class="features">
                                                
                                                <ul>
                                                    <li>Includes Food Recommendation</li>
                                                    <li>Includes hotel reservation</li>
                                                    <li>Includes transportation tickets</li>
                                                   
                                                </ul>
                                            </div>
                                            <button type="button" onclick="selectPackage(3)" data-selected="false">Select</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button id="next-bt" type="button" class="next action-button">Next</button>
                        </fieldset> 
                        
                    </form>
                </div> 
            </div>
        </div>
    
       </section>
</body>
</html>
