<link rel="stylesheet" href="/css/profile.css">
<script src="/js/profile_ChangePassword.js"></script>
<div id="password-form" style="display: none;">
  <div class="form-group">
    <label for="current-password">Current Password</label>
    <input type="password" class="form-control" id="current-password" placeholder="Enter current password">
    <div id="current-password-error" style="color: red;"></div>
  </div>
  <div class="form-group">
    <label for="new-password">New Password</label>
    <input type="password" class="form-control" id="new-password" placeholder="Enter new password">
    <div id="new-password-error" style="color: red;"></div>
  </div>
  <div class="form-group">
    <label for="confirm-password">Confirm New Password</label>
    <input type="password" class="form-control" id="confirm-password" placeholder="Confirm new password">
    <div id="confirm-password-error" style="color: red;"></div>
  </div>
</div>

<button id="btnShowPasswordForm" onclick="showPasswordForm()" type="button" class="btn btn-warning">Change Password</button>
<button id="btnChangePassword" onclick="changePassword()" type="button" class="btn btn-warning">Confirm New Password</button>
